.bianco,.hover-bianco:hover{color:#6D7611!important;background-color:#FFFFFF!important}
.verdec,.hover-verdec:hover{color:#000!important;background-color:#C1B944!important}
.verdes,.hover-verdes:hover{color:#FFFFFF!important;background-color:#6e7612!important}
.nero,.hover-nero:hover{color:#122906!important;background-color:#FFFFFF!important}